/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

html {
	overflow-y: scroll;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
	font-family: Arial, Verdana, sans-serif;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

a, a:visited {
	color: #000;
	text-decoration: underline;
}

a.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:16px;
	font-weight:normal;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;}

a.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	color:red;
}

a.button:active {
	position:relative;
	top:1px;
}

a:visited
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

table { border-collapse: collapse; border-spacing: 0; }

td { vertical-align: top; }

ul {
	list-style-type: none;
}

/* ==========================================================================
   Forms
   ========================================================================== */

label {
	display:block;
	cursor: pointer;
}

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
fieldset {
	border: none;
	padding: 0;
}

input[type="text"], input[type="number"], input[type="date"], select {
	width: 300px;
}

input[type="submit"] {
	margin-top: 10px;
	font-size: 1em;
	font-weight: normal;
}
fieldset legend {
	font: 1.4em 'Philosopher', sans-serif;
	padding: 10px 0;
}

fieldset label, fieldset fieldset legend {
	font-family: 'Philosopher', sans-serif;
	font-size: 1.2em;
}

fieldset ul {
	margin: 0; padding: 0;
	list-style-type: none;
}

/* Indent form items */
fieldset ul li {
	padding: 10px 0 0 0;
	width: 243px;
}

/* Unindent form submit buttons */
fieldset ul li.button {
	padding: 20px 0 40px 0;
}

/* Style input boxes on forms */
fieldset input[type=text], fieldset input[type=password], 
fieldset input[type=date], fieldset input[type=time] {
	display: block;
	margin: 2px 0;

	width: 300px;			/* reduced width by 20px due to padding */
	height: 32px;			/* reduced height by 2 px due to border */
	padding: 0 10px;		/* indent text inside box */

	background-image: url(../img/form_input_bg.png);
	background-repeat: no-repeat;
	border: solid 1px #b2b2b2;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;	
}

fieldset input[type=number] {
	/*float: right;*/
	padding: 1px 10px 0 10px;
	width: 3em;
	border-top-left-radius: 5px; border-bottom-left-radius: 5px;
	border: solid 1px #b2b2b2;
}

/* ==========================================================================
    CSS3 Gmail Buttons by Adam Whitcroft
    https://github.com/AdamWhitcroft/CSS3.Gmail.Buttons
   ========================================================================== */
.bttn {
text-decoration:none;
cursor:pointer;
font-size:0.75em;
padding:0 8px;
font-weight:bold;
height:30px;
line-height:30px;
display:inline-block;
outline:0;
color:#444;
background-color:#f5f5f5;
background-image:-webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
background-image:-moz-linear-gradient(top,#f5f5f5,#f1f1f1);
background-image:linear-gradient(top,#f5f5f5,#f1f1f1);
border:1px solid #d9d9d9;
border:1px solid rgba(0,0,0,0.1);
-webkit-border-radius:2px;
-moz-border-radius:2px;
border-radius:2px;
}

.bttn:hover {
border:1px solid #c6c6c6;
border:1px solid rgba(0,0,0,0.2);
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
box-shadow: 0 1px 2px rgba(0,0,0,0.1);
position:relative;
z-index:1;
}

.bttn:active {
-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
}

.red {
color:#fff;
background-color:#d14836;
border:1px solid transparent;
background-image:-webkit-linear-gradient(top,#dd4b39,#d14836);
background-image:-moz-linear-gradient(top,#dd4b39,#d14836);
background-image:linear-gradient(top,#dd4b39,#d14836);
}

.red:hover {
background-color:#c53727;
border:1px solid #b0281a;
background-image:-webkit-linear-gradient(top,#dd4b39,#c53727);
background-image:-moz-linear-gradient(top,#dd4b39,#c53727);
background-image:linear-gradient(top,#dd4b39,#c53727);
-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
-moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
box-shadow:0 1px 2px rgba(0,0,0,0.2);
}

.red:active {
-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.2);
-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.2);
box-shadow:inset 0 1px 2px rgba(0,0,0,0.2);	
}

.blue {
color:#fff;
background-color:#4D90fe;
border:1px solid #3079ed;
background-image:-webkit-linear-gradient(top,#4d90fe,#4787ed);
background-image:-moz-linear-gradient(top,#4d90fe,#4787ed);
background-image:linear-gradient(top,#4d90fe,#4787ed);
}

.blue:hover {
background-color:#357aeb;
border:1px solid #2F5bb7;
background-image:-webkit-linear-gradient(top,#4d90fe,#357ae8);
background-image:-moz-linear-gradient(top,#4d90fe,#357ae8);
background-image:linear-gradient(top,#4d90fe,#357ae8);
-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
-moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
box-shadow:0 1px 2px rgba(0,0,0,0.2);	
}

.blue:active {
-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.2);
-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.2);
box-shadow:inset 0 1px 2px rgba(0,0,0,0.2);	
}

.yellow {
color:#867343;
background-color:#ffe07b;
border:1px solid #fddb69;
background-image:-webkit-linear-gradient(top,#ffe896,#ffe07b);
background-image:-moz-linear-gradient(top,#ffe896,#ffe07b);
background-image:linear-gradient(top,#ffe896,#ffe07b);
}
.yellow:hover {
background-color:#ffda73;
border:1px solid #deb74f;
background-image:-webkit-linear-gradient(top,#ffe485,#ffda73);
background-image:-moz-linear-gradient(top,#ffe485,#ffda73);
background-image:linear-gradient(top,#ffe485,#ffda73);
-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
-moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
box-shadow:0 1px 2px rgba(0,0,0,0.2);	
}
.yellow:active {
-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.2);
-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.2);
box-shadow:inset 0 1px 2px rgba(0,0,0,0.2);	
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Header, navigation, and background
   ========================================================================== */

html {
	background: url(../img/background.jpg) no-repeat center center fixed;
	background-size: cover;
}

#site_header {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

nav {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	background: black;
	height: 46px;
	border-bottom: 3px solid #373737;
	background: -moz-linear-gradient(top, #414141 0%, #191919 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#414141), color-stop(100%,#191919)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #414141 0%,#191919 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #414141 0%,#191919 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #414141 0%,#191919 100%); /* IE10+ */
	background: linear-gradient(to bottom, #414141 0%,#191919 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414141', endColorstr='#191919',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

nav ul {
	display: inline;
	margin: 0;
	padding: 12px 0;
	float:right;
}

nav ul:first-of-type {
	float:left;
}

nav ul li {
	display: inline;
	padding: 0 12px;
}

nav a {
	color: #eee !important;
	text-decoration: none;
}

#wrapper {
	width: 960px;
	margin: 0.2em auto;
	padding: 2em;
	background: rgba(255, 255, 255, 0.6);
-moz-box-shadow:    6px 3px 5px 0px #444;
  -webkit-box-shadow: 6px 3px 5px 0px #444;
  box-shadow:         6px 3px 5px 0px #444;}

/* ==========================================================================
   Events list
   ========================================================================== */

#filter_message {
	display: inline;
}
#event_create {
	float: right;
}

#event_list {
	width: 880px;
	margin: 0 auto;
}

#event_list > li {
	margin-bottom: 1em;
}
section#events ul li.event_collapsed {
	height: 100px;
	border: 1px solid rgba(199,199,199,0.8);
 	background-image: url(../img/event_down_arrow.png), linear-gradient(bottom, rgb(236,236,236) 0%, rgb(255,255,255) 100%);
	background-image: url(../img/event_down_arrow.png), -o-linear-gradient(bottom, rgb(236,236,236) 0%, rgb(255,255,255) 100%);
	background-image: url(../img/event_down_arrow.png), -moz-linear-gradient(bottom, rgb(236,236,236) 0%, rgb(255,255,255) 100%);
	background-image: url(../img/event_down_arrow.png), -webkit-linear-gradient(bottom, rgb(236,236,236) 0%, rgb(255,255,255) 100%);
	background-image: url(../img/event_down_arrow.png), -ms-linear-gradient(bottom, rgb(236,236,236) 0%, rgb(255,255,255) 100%);
	background-image: url(../img/event_down_arrow.png), -webkit-gradient(linear, left bottom, left top,	color-stop(0, rgb(236,236,236)), color-stop(1, rgb(255,255,255)));	
	background-repeat: no-repeat;
	background-position: right bottom;
}

section#events ul li.event_expanded {
	border: 1px solid rgba(199,199,199,0.8);
 	background-image: url(../img/event_up_arrow.png), linear-gradient(bottom, rgb(236,236,236) 0%, rgb(255,255,255) 100%);
	background-image: url(../img/event_up_arrow.png), -o-linear-gradient(bottom, rgb(236,236,236) 0%, rgb(255,255,255) 100%);
	background-image: url(../img/event_up_arrow.png), -moz-linear-gradient(bottom, rgb(236,236,236) 0%, rgb(255,255,255) 100%);
	background-image: url(../img/event_up_arrow.png), -webkit-linear-gradient(bottom, rgb(236,236,236) 0%, rgb(255,255,255) 100%);
	background-image: url(../img/event_up_arrow.png), -ms-linear-gradient(bottom, rgb(236,236,236) 0%, rgb(255,255,255) 100%);
	background-image: url(../img/event_up_arrow.png), -webkit-gradient(linear, left bottom,	left top, color-stop(0, rgb(236,236,236)), color-stop(1, rgb(255,255,255)));	
	background-repeat: no-repeat;
	background-position: right bottom;
 }

ul.event_header {
	width: 880px;
}

ul.event_header > li {
	display: inline-block;
}

li.event_title, li.event_numbers, li.event_time {
	cursor: pointer;
	font-family: Philosopher, Times, serif;
}

li.event_title {
	text-align: left;
	width: 350px;
}

li.event_title h5, li.event_title h6, li.event_numbers p, li.event_time time {
	padding: 0 0 0.4em 0;
	margin: 0;
}
li.event_title h5 {
	font-size: 130%;
	padding-left: 12px;
}

li.event_title h6 {
	font-size:100%;
	font-weight:normal;
	padding-left: 12px;
}

li.event_numbers {
	text-align: center;
	font-size:150%;
	width: 150px;
}

li.event_numbers p {
	margin: 0;
	padding: 0;
}

li.event_time {
	text-align: right;
	font-size: 120%;
	width:360px;
	padding-right:10px;
}

li.event_time time {
	display: block;
}

/* Player count colors */
span.player_count_empty { color: #717171; }
span.player_count_low   { color: #1c8300; }
span.player_count_high  { color: #bec022; }
span.player_count_full  { color: #e91212; }

/* ==========================================================================
   Event Attendee Tab styles
   ========================================================================== */

.tabs {
	float: left;
	padding: 10px;
	background: none;
	border: none;
	width: 260px;
}

.tabs .ui-tabs-nav {
	padding-left: 0px;
	background: transparent;
	border-width: 0px 0px 1px 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border-color: #d1d1d1;
}

.tabs.ui-widget {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.tabs .ui-state-default {
	height: 30px;
	font-size:  0.8em;
	font-weight: bold;
	background: #404040;
	border-color: #d1d1d1;
}

.tabs .ui-state-active {
	background: white;
}

.tabs .ui-state-default a {
	padding: 2px 10px;
	color: white;
}

.tabs .ui-state-active a {
	color: #393939;	
}

.tabs .ui-tabs-panel {
	padding: 10px 7px;
	font-family: Arial, Helvetica, sans-serif;

	border: 1px solid rgba(199,199,199,0.8);
	border-top: none;
	
	background-image: linear-gradient(bottom, rgb(236,236,236) 0%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(236,236,236) 0%, rgb(255,255,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(236,236,236) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(236,236,236) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(236,236,236) 0%, rgb(255,255,255) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(236,236,236)),
		color-stop(1, rgb(255,255,255))
	);
}

.tabs .ui-tabs-panel li {
	font-size: 0.7em;
	color: #a9a9a9;
}

.tabs .ui-tabs-panel li div.player {
	padding: 5px 10px;
	color: #393939;
}

/* Alternating backgrounds */
.tabs .ui-tabs-panel li:nth-child(odd) div.player {
	background-color: #ececec;
	border-radius: 5px;
}

/* Centering profession icon */
.tabs .ui-tabs-panel li div.player > img {
	padding-right: 1em;
}

/* Comment icon */
.tabs .ui-tabs-panel li div.player a {
	position: absolute;
	top: 50%; margin-top: -8px;
	float: right; right: 24px;
	cursor: default;
}

/* User comment styles */
.tabs .ui-tabs-panel ul ul {
	position: absolute;
	left: -9999px;
	list-style: none;
}

div.comment:hover ul {
	z-index: 5;		/* put the comment on top of the event description */
	top: -4px;
	left: 222px;
}

.comment {
	position: absolute;
	padding: 0;
	width: 202px;
	height: 66px;
	background-image: url(../img/comment_bg.png);
	background-position: top left;
}

.tabs .ui-tabs-panel li div.comment {
	height: 54px;
	padding: 5px 10px 0 15px;
	
	overflow: hidden;			/* cut off long comments */
	word-wrap: break-word;		/* break long urls in comments */
	color: white;
}

/* Signup / Withdraw link styles */
.tabs .ui-tabs-panel > a:link, 
.tabs .ui-tabs-panel > a:visited {
	display: block;
	margin-top: 5px;
	padding: 5px 0;

	text-decoration: none;
	text-align: center;
	font-size: 0.9em;
	font-weight: bold;
	
	color: #555555;
	background-color: #ececec;
	border-radius: 5px;
}

.tabs .ui-tabs-panel > a:hover, 
.tabs .ui-tabs-panel > a:active {
	color: #a49898;
}

.tabs .ui-tabs-panel > a.withdraw:hover, 
.tabs .ui-tabs-panel > a.withdraw:active {
	color: red;
}

span.name {
	font-size: 1em;
}
/* ==========================================================================
   Event Attendee Tab styles
   ========================================================================== */

#event_description h6 {
	font-size: 140%;
	font-weight: normal;
	margin: 1em;
}

#event_description p {
	padding: 0 1em 1em 1em;
	margin: 0;
}

/* ==========================================================================
   Character list
   ========================================================================== */

ul#character_list li {
	margin: 0 0 8px;
	height: 100px;	
	border: 1px solid rgba(199,199,199,0.8);
	background-image: linear-gradient(bottom, rgb(236,236,236) 0%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(236,236,236) 0%, rgb(255,255,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(236,236,236) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(236,236,236) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(236,236,236) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(236,236,236)), color-stop(1, rgb(255,255,255)));
}

ul#character_list li img {
	position: relative;
	top: 25%;
	left: 1em;
}
span.character_name {
	position: relative;
	font-family: 'Philosopher', serif;
	font-size: 1.6em;
	top: 30%;
	left: 1em;
}

#character_actions {
	float: right;
	font-family: 'Philosopher', serif;
	font-size: 1.1em;
	position: relative;
	top: 35%;
	right: 1.2em;
}

#character_actions a {
	text-decoration: none;
	margin-left: 1em;
}

#character_actions a:hover {
	text-decoration: underline;
}

#character_add {
	margin-top: 1.3em;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}