<h3>ERMAGERD NERWS</h3>
<p>Events site beta testing.  There are a couple of known bugs, but go on and report anything you find.</p>

<p>Changelog 2012 Nov 16</p>
<ul>
	<li>Added a notice in the event add/edit modal to point out the availibility of markdown for people who don't read these changelogs</li>
	<li>Event filter / sorting list now works.</li>
	<li>Direct linking to events now works.</li>
</ul>

<p>Known bugs - these are on the slate to be fixed tomorrow</p>
<ul>
	<li>Password reset is broken</li>
</ul>

<p>Planned features</p>
<ul>
	<li>Calendar view option for events</li>
	<li>Guild tag support</li>
	<li>Guild invite request</li>
</ul>

<p>Changelog 2012 Nov 15<p>
<ul>
	<li>Added more intelligent user input filtering (i.e. quotation marks will not be encoded as html entities now)</li>
	<li>Added markdown support for event descriptions to give you more "rich text"-like formatting options</li>
</ul>

<p>Changelog 2012 Nov 14<p>
<ul>
	<li>Fixed css bugs with comment icon displays</li>
	<li>Fixed enrollment / withdrawl button errors</li>
	<li>Fixed a bug preventing new user registration</li>
	<li>Added manual password reset tool for server admins</li>
	<li>Added temporary fix for time validation on event creation</li>
	<li>Added a filter to remove any trailing whitespace in form fields</li>
	<li>Fixed a bug that was intermittently preventing character creation / editing</li>
	<li>Added filters to prevent extraneous spaces on some fields that prevented form validation.</li>
</ul>

<p>Changelog 2012 Nov 12<p>
<ul>
	<li>Fixed a bug that was intermittently preventing character creation / editing</li>
	<li>Added filters to prevent extraneous spaces on some fields that prevented form validation.</li>
	<li>Changed server environment var to testing, which disabled the debugger toolbar (RIP).</li>
	<li>Numerous tiny CSS tweaks</li>
	<li>Fixed a bug which prevented enrollment numbers from displaying properly in the event list</li>
</ul>