<h3>ERMAGERD NERWS</h3>
<p>Events site beta testing.  There are a couple of known bugs, but go on and report anything you find.</p>

<p>Changelog 2012 Nov 14<p>
<ul>
	<li>Fixed css bugs with comment icon displays</li>
	<li>Fixed enrollment / withdrawl button errors</li>
	<li>Fixed a bug preventing new user registration</li>
	<li>Added manual password reset tool for server admins</li>
	<li>Added temporary fix for time validation on event creation</li>
	<li>Added a filter to remove any trailing whitespace in form fields</li>
	<li>Fixed a bug that was intermittently preventing character creation / editing</li>
	<li>Added filters to prevent extraneous spaces on some fields that prevented form validation.</li>
</ul>

<p>Known bugs</p>
<ul>
	<li>Overly zealous XSS protectino is causing quote marks to be translated into html entaties which are being escaped by the templating system resulting in ugliness in your event descriptions.  This is going to require reworking user-input cleaning but should be fixed in a day or two.</li>
	<li>Related to the bug above, there's no way to make proper paragraphs in your event descriptions.  I'm going to add a markdown parser (like what reddit uses for comments) to give you a little more formatting capacity</li>
</ul>

<p>Planned features</p>
<ul>
	<li>Calendar view option for events</li>
	<li>Guild tag support</li>
	<li>Guild invite request</li>
	<li>Password reset via email</li>
</ul>
