	<figure id="recent_user_table">
		<figcaption>{{user_table_caption}}</figcaption>
		<table id="users">
			<thead>
				<tr>
					<td colspan="2">Actions</td>
					<td>User ID</td>
					<td>Username</td>
					<td>Real name</td>
					<td>Email</td>
					<td>Timezone</td>
					{{#show_roles}}
					<td>Roles</td>
					{{/show_roles}}
				</tr>
			</thead>
			<tbody>
			{{#users}}
				<tr class="{{user_stripe}}">
					<td><a href="{{edit_route}}" class="modal" title="Edit user"><img src="/media/img/icons/note.png" /></a></td>
					<td>
						{{#deactivate_route}}<a href="{{deactivate_route}}" title="Deactivate user account"><img src="/media/img/icons/delete_item.png" /></a>{{/deactivate_route}}
						{{#activate_route}}<a href="{{activate_route}}" title="Activate user account"><img src="/media/img/icons/accept_item.png" /></a>{{/activate_route}}
					</td>
					<td>{{id}}</td>
					<td>{{username}}</td>
					<td>{{name}}</td>
					<td>{{email}}</td>
					<td>{{timezone}}</td>
					{{#show_roles}}
					<td>{{roles}}</td>
					{{/show_roles}}
				</tr>
			{{/users}}
			</tbody>
		</table>
	</figure>

<a href="{{url_action_create_user}}" class="modal button">Create new user</a>