							<div class="tabs">
								<ul>
									<li><a href="#attendees">Attendees ({{attendee_count}})</a></li>
									<li><a href="#standby">Standby ({{standby_count}})</a></li>
								</ul>
								<div id="attendees">
									<ul>
{{#attendees.active}}
										<li>
											<div class="player">
												<img class="profession" src="/media/img/profession_icons/{{profession}}-small.png" />
												<span class="name">{{name}}</span>
												{{#comment}}<a><img src="/media/img/comment_icon.png" class="event_comment" title="{{comment}}" /></a>
												<ul><li><div class="comment">{{comment}}</div></li></ul>{{/comment}}
											</div>
										</li>
{{/attendees.active}}
{{^attendees.active}}
										<li class="empty">
											No one is here yet.
										</li>
{{/attendees.active}}

									</ul>
									{{#enroll}}<a href="{{url_event_enroll}}" class="modal">Enroll in event</a>{{/enroll}}
									{{#url_event_withdraw}}<a class="withdraw" href="{{url_event_withdraw}}">Withdraw from event</a>{{/url_event_withdraw}}
								</div>
								<div id="standby">
									<ul>
{{#attendees.standby}}
										<li class="{{profession}}">
											<div class="player">
												<img class="profession" src="/media/img/profession_icons/{{profession}}-small.png" />
												<span class="name">{{name}}</span>
												{{#comment}}<a><img src="/media/img/comment_icon.png" class="event_comment" title="{{comment}}" /></a>
												<ul>
													<li><div class="comment">{{comment}}</div></li>
												</ul>{{/comment}}
											</div>
										</li>
{{/attendees.standby}}
{{^attendees.standby}}
										<li class="empty">
											No one on standby.
										</li>
{{/attendees.standby}}
									</ul>
									{{#enroll}}<a href="{{url_event_enroll}}" class="modal">Enroll in event</a>{{/enroll}}
									{{#url_event_withdraw}}<a class="withdraw" href="{{url_event_withdraw}}">Withdraw from event</a>{{/url_event_withdraw}}
								</div>
							</div> <!-- end tabs -->
							<div id="event_description" class="clearfix">
{{#event}}
								<h6>{{title}}</h6>
								<p class="clearfix">{{description}}</p>
								<a href="{{event_url}}" class="event_permalink button">Permanant link to this event</a>
{{/event}}
								{{#url_event_edit}}<a class="modal button" href="{{url_event_edit}}">Edit event</a>{{/url_event_edit}}
								{{#url_event_remove}}<a class="cancel_event button" href="{{url_event_remove}}">Cancel event</a>{{/url_event_remove}}
							</div>