<section id="profile">
	<form action="{{form_action_admin_user_edit}}" method="post">
		{{#errors}}<div class="error">{{{errors}}}</div>{{/errors}}
		{{#success}}<div class="success">{{{success}}}</div>{{/success}}
		<fieldset>
			<legend>Account Information</legend>
			<ul>
				{{#user_data}}<li>
					<label for="user_name">Username:</label>
					<input type="text" name="user[username]" id="user_name" value="{{username}}" />
					{{#errors.username}}<p class="error_message">{{errors.username}}</p>{{/errors.username}}
				</li>
				<li>
					<label for="user_email">Email address:</label>
					<input type="text" name="user[email]" id="user_email" value="{{email}}" />
					{{#errors.email}}<p class="error_message">{{errors.email}}</p>{{/errors.email}}
				</li>
				<li>
					<label for="user_password">Password:</label>
					<input type="password" name="user[password]" id="user_password" />
					{{#errors.password}}<p class="error_message">{{errors.password}}</p>{{/errors.password}}
				</li>
				<li>
					<label for="user_repeat_password">Repeat password:</label>
					<input type="password" name="user[password_confirm]" id="user_password_confirm" />
				</li>{{#profile}}
				<li>
					<label for="profile_first_name">First name:</label>
					<input type="text" name="profile[first_name]" id="profile_first_name" value="{{first_name}}" />
					{{#errors.first_name}}<p class="error_message">{{errors.first_name}}</p>{{/errors.first_name}}
				</li>
				<li>
					<label for="profile_last_name">Last name:</label>
					<input type="text" name="profile[last_name]" id="profile_last_name" value="{{last_name}}" />
					{{#errors.last_name}}<p class="error_message">{{errors.last_name}}</p>{{/errors.last_name}}
				</li>
				<li>
					<label for="user_timezone">Time Zone:</label>
					<select name="user[timezone]" id="user_timezone">
{{#timezone_list}}
						<option value="{{value}}"{{#selected}} selected="selected"{{/selected}}>{{name}}</option>{{/timezone_list}}
					</select>
					{{#errors.timezone}}<p class="error_message">{{errors.timezone}}</p>{{/errors.timezone}}
				</li>
				<li>
					<label for="profile_birthdate">Date of birth:</label>
					<input type="date" name="profile[birthdate]" id="profile_birthdate" placeholder="YYYY-MM-DD" value="{{birthdate}}" />
					{{#errors.birthdate}}<p class="error_message">{{errors.birthdate}}</p>{{/errors.birthdate}}
				</li>
				{{{csrf}}}
			{{/profile}}{{/user_data}}
			</ul>
		</fieldset>
		<fieldset>
			<legend>Roles</legend>
			<table>
				<thead>
					<tr>
						<td>Assigned</td>
						<td>Role name</td>
						<td>Description</td>
					</tr>
				</thead>
				<tbody>
				{{#roles}}
					<tr class="{{role_stripe}}">
						<td><input type="checkbox" name="role[]" value="{{name}}" {{#owned}}checked="checked" {{/owned}}/></td>
						<td>{{name}}</td>
						<td>{{description}}</td>
					</tr>
				{{/roles}}
				</tbody>
			</table>
		</fieldset>
		<input type="submit" value="Submit" class="button blue" />
	</form>
	<!--<ul id="character_list">
{{#character_list}}
		<li class="{{profession}} character">
			<span class="character_name">{{name}}</span>
			<a href="{{url_character_edit}}" class="modal">Edit</a>
			<a href="{{url_character_remove}}">Delete</a>
		</li>{{/character_list}}
	</ul>-->

</section>