<table>
	<thead>
		<tr>
			<td colspan="3">Actions</td>
			<td>Title</td>
			<td>Location</td>
			<td>Host</td>
			<td>Time</td>
			<td>Status</td>
		</tr>
	</thead>
	<tbody>
{{#events}}
		<tr>
			<td><a href="{{url_reassign}}" class="modal" title="Reassign"><img src="/media/img/icons/note.png" /></a></td>
			<td><a href="{{url_edit}}" class="modal" title="Edit"><img src="/media/img/icons/edit_item.png" /></a></td>
			<td>{{#url_cancel}}<a href="{{url_cancel}}" title="Cancel"><img src="/media/img/icons/trash.png" /></a>{{/url_cancel}}{{#url_uncancel}}<a href="{{url_uncancel}}" title="Uncancel"><img src="/media/img/icons/accept_item.png" /></a>{{/url_uncancel}}</td>
			<td>{{event_title}}</td>
			<td>{{location}}</td>
			<td>{{host}} as <em>{{character}}</em></td>
			<td>{{time}}</td>
			<td>{{status}}</td>
		</tr>{{/events}}
{{^events}}<tr><td colspan="7">No events scheduled</td></tr>{{/events}}

	</tbody>
</table>